trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - '*.md'

name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

variables:
- group: tttemplate01
- name: MAJOR_MINOR_VERSION
  value: "0.1" # update between releases
- name: SEMANTIC_VERSION
  value: "$(MAJOR_MINOR_VERSION).$(Build.BuildId)"
- name: KUSTO_DB
  value: "build$(Build.BuildId)"
- name: ACR_NAME
  value: tttemplate01
- name: ACR_PULL_SERVICE_CONNECTION
  value: Terraform
- name: ACR_PUSH_SERVICE_CONNECTION
  value: Terraform
- name: AKS_NAME
  value: tttemplate01
- name: TERRAFORM_SP_CLIENT_ID
  value: df9df564-e889-4852-9bb2-aa912d990c93
#- name: TERRAFORM_SP_CLIENT_SECRET
- name: AKS_SP_CLIENT_ID
  value: cd0ad856-af8e-424e-b935-ce7ad6da5c9d
- name: AKS_SP_OBJECT_ID
  value: ddf63018-48fb-4738-a3f5-0062fb16dbb0
#- name: AKS_SP_CLIENT_SECRET
#  value: ENTER
- name: AKS_VERSION
  value: 1.15.7
- name: HELM_RELEASE_NAME
  value: contoso
- name: KUSTO_NAME
  value: tttemplate01
- name: RESOURCE_GROUP
  value: tttemplate01
- name: ARM_SUBSCRIPTION_ID
  value: a4ed7b9a-b128-49b4-a6ee-fd07ff6e296d
- name: ARM_TENANT_ID
  value: 72f988bf-86f1-41af-91ab-2d7cd011db47
- name: TERRAFORM_SERVICE_CONNECTION
  value: Terraform
- name: TERRAFORM_STORAGE_ACCOUNT
  value: tttemplate01terraform
- name: VNET_NAME
  value: tttemplate01
- name: AGENT_POOL_NAME
  value: tttemplate01
- name: JMETER_VERSION
  value: 5.1.1

pool:
  vmImage: ubuntu-latest


jobs:
- template: infrastructure/ci-cd-pipeline.yml
